<form action="/auth/user/{{_id}}/edit" method="post">
  <label for="">Username</label>
  <input type="text" name="username" value="{{username}}">
  <label for="">Email</label>
  <input type="text" name="email" value="{{email}}">
  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Enviar</button>
</form>